<ul>
    <li><a href="../">Calculadora</a></li>
    <li><a href="../hist">Historial</a></li>
    <li><a href="../app">About</a></li>
    <li style="float:right"><a class="color-clear" href="../login">Logout</a></li>
</ul>