<!DOCTYPE html>
<html>
	<head>
		<title>Super calculadora</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
	</head>	
	<body class="fondo">
		<%- include('./navs/nav.ejs'); %>
	<div class="modal-content text-center center">
    	<div class="modal-content center">
            <h1>ERROR 404 PAGINA NO ENCONTRADA</h1>
	    </div>
	</div>
	<div class="a-footer">
    		<p>COPYRIGHT © UNIVERSIDAD SAN CARLOS DE GUATEMALA </p>
	</div>
	<script type="text/javascript" src="js/script.js"></script>
	</body>
	
 
</html>


