<!DOCTYPE html>
<html>
	<head>
		<title>Super calculadora</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
	</head>	
	<body class="fondo">
	<div class="modal-content text-center center">
    	<div class="modal-content center">
            <h1>Calculadora hecha por 201830313 Denilson de Leon</h1>
            <h1>Proyecto de prueba de express, node</h1>
            <h1>Lab manejo e implementacion de archivos</h1>
	    </div>
	</div>
	<div class="a-footer">
    		<p>COPYRIGHT © UNIVERSIDAD SAN CARLOS DE GUATEMALA </p>
	</div>
	<script type="text/javascript" src="js/script.js"></script>
	</body>
	
 
</html>


